@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quattrocento&display=swap');
:root {
  --blue: #77c4dd;
  --blue-hover: #5f9eb3;
  --off-white: #d8d8d8;
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v25-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v25-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v25-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v25-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-regular - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-condensed-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/barlow-condensed-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-condensed-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-condensed-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-condensed-v12-latin-regular.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-700 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-condensed-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/barlow-condensed-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-condensed-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-condensed-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-condensed-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-condensed-v12-latin-700.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
html,
body {
  height: 100%;
  font-family: 'Montserrat', serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
}
h1 {
  position: relative;
  color: #ffffff;  
  font-size: 3rem;
  line-height: 0.9;
  text-align: center;
  margin-bottom: 1rem;
}

a,
a:hover,
a:visited,
a:link,
a:active, 
p,
div,
ul,
li,
.card
 {
  text-decoration: none;  
}
.prol a{
  font-size: 36px;
  color: var(--blue);
}
.prol a:hover {
  color: var(--blue-hover);
}
main > .container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}
body {
  background-color: var(--off-white);
  background-repeat: no-repeat;
  margin: auto;
  width: 100%;
  overflow-x: hidden;
}
#welcome{
  height: 100vh; 
  width: 100%;
  position: relative;
  overflow: auto;        
  background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url('/img/bg-copy.jpg') no-repeat 40% 22%;
    
}
.black-background {
  background-color: black;
}
.sticky-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.nav-item {
  position: relative;
  font-family: 'Oswald', sans-serif;
}

.nav-item:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}

.skills {
  display: inline-block;
  text-decoration: underline;
}
.skill-i{
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
}
.skill-i i{
  color: var(--blue);
}
ul > li { 
  text-decoration: none; 
  list-style:none;
  padding-right: 5px;
  

}
.col-li {
  list-style-type: none;

  text-decoration-color: white;
  text-decoration-thickness: 2px;
}
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
.black-stroke {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}
.softer-dark {
  background-color: #4e4747;
}
.bg-off-white {
  background: var(--off-white);
}
.i-border {
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
}
.title {  
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-bottom: 50px;
}



/* Form Inputs */
.email-controls {
  background-color: var(--off-white);
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;    
  border: none;
  border-bottom: 2px solid black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
 
}
.opacity {
  opacity: 0;
}
/* Animations */
.fade-in-text { 
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}
@keyframes fadein {
  0% { opacity: 0; transform: translate(0, 2rem); }
  100% { opacity: 1; transform: translate(0, 0);}
}
.delay { animation-delay: 0.5s;}

@media (max-width: 992px) {
  .text-sm-center {
          text-align: center!important;
   } 
 
}
